body {
    background-color: rgba(77,77,77, 1);
    overflow: hidden;
    cursor: default;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}


#menu {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    background-color: rgba(33,33,33 ,0.8);
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
}

#menu div {
    display: inline-block;
    opacity: 0.8;
    padding: 5px 15px;
    color: #eeeeee;
    text-decoration: none;
}

#menu div:hover {
    opacity: 1;
}

a {
    text-decoration: none;
}

#container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    color: #eeeeee;
    padding-right: 17px;
}

#container a {
    color: #eeeeee;
    font-style: italic;
}

h1 {
    font-family: 'Oswald', sans-serif;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

p, ul, li {
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

#backgroundImg{
    background-image: url('./fond.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(4px);
    opacity: 0.5;
    z-index: 0;
}

#titre {
    width: 500px;
    border: solid #eeeeee 5px;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight: bold;
    color: #eeeeee;
    margin: auto;
    margin-top: 25%;
    padding: 10px 0px;
}

#blockIntro {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1;
}

#utilisation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 200%;
    left: 0px;
    z-index: 1;
}

#evolutions {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 300%;
    left: 0px;
    z-index: 1;
}

#questions {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 400%;
    left: 0px;
    z-index: 1;
}
